<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

  <!-- Base Module Properties -->
  <id>example</id>
  <name>Bahmni Example Module</name>
  <version>0.1-SNAPSHOT</version>
  <package>org.bahmni.module.example</package>
  <author>Thoughtworks</author>
  <description>
    This module demonstrates examples
  </description>

  <activator>org.bahmni.module.example.ExampleModuleActivator</activator>

  <require_version>2.1.1</require_version>
  <require_modules>
    <require_module>org.openmrs.module.webservices.rest</require_module>
  </require_modules>



  <!--<mappingFiles>-->
    <!--Example.hbm.xml-->
  <!--</mappingFiles>-->

  <messages>
    <lang>en</lang>
    <file>messages.properties</file>
  </messages>

</module>

